<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Item</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <!-- 
      name: {
    type: String,
    required: true,
    },
    cuisine: {
        type: String,
        required: true,
    },
    calories: {
        type: Number,
        required: true,
    },
    -->
    <h1>Add New Item</h1>
    <form action="/users/:userId/foods" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
        <label for="cuisine">Cuisine:</label>
        <input type="text" name="cuisine" id="cuisine" required>
        <label for="calories">Calories:</label>
        <input type="number" name="calories" id="calories" required>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>